.bundle/
log/*.log
pkg/
Gemfile.lock
.ruby-version
spec/internal/storage/
spec/internal/.env.development
log/
tmp/
**/db/schema.rb
scratch.rb
structure.sql
.env
# Ignore all RubyMine temp files
.idea/
# Ignore coverage reports
coverage/*
.tool-versions
