language: ruby
os: linux
dist: jammy

cache:
  bundler: true
  apt: true

services:
  - postgresql

before_install:
  - gem update --system --no-document
  - gem install bundler:2.7.1 --no-document

before_script:
  - mkdir -p $INGEST_SOURCE_DIRECTORY/BPLDC
  - ln -s $TRAVIS_BUILD_DIR/spec/fixtures $INGEST_SOURCE_DIRECTORY/BPLDC/curator_fixtures
  - bundle exec rails app:curator:setup

rvm:
  - 3.3.9

env:
  global:
    - PGVER=15
    - PGHOST=localhost
    - PGUSER=postgres
    - PGPORT=5432
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - INGEST_SOURCE_DIRECTORY=/opt/ingest_source
  jobs:
    - "RAILS_VERSION=7.1.5.2"
