---
http_interactions:
- request:
    method: get
    uri: https://annotations.allmaps.org/manifests/f5896c3bfbb807a1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12cc-z6sjryLshiZgDxhNFYS5y8OmDbA"
      X-Railway-Edge:
      - railway/us-east4
      X-Railway-Request-Id:
      - IdytfKTiQ0aJp6CdvLKlrw
    body:
      encoding: UTF-8
      string: |-
        {
          "type": "AnnotationPage",
          "@context": "http://www.w3.org/ns/anno.jsonld",
          "items": [
            {
              "id": "https://annotations.allmaps.org/maps/17fedcdf41c5b9fd",
              "type": "Annotation",
              "@context": [
                "http://iiif.io/api/extension/georef/1/context.json",
                "http://iiif.io/api/presentation/3/context.json"
              ],
              "created": "2025-08-05T21:25:51.549Z",
              "modified": "2025-08-05T21:25:51.549Z",
              "motivation": "georeferencing",
              "target": {
                "type": "SpecificResource",
                "source": {
                  "id": "https://iiif.digitalcommonwealth.org/iiif/2/commonwealth:00002w46b",
                  "type": "ImageService2",
                  "height": 4220,
                  "width": 5161,
                  "partOf": [
                    {
                      "id": "https://ark.digitalcommonwealth.org/ark:/50959/4f16g0150/canvas/00002w46b",
                      "type": "Canvas",
                      "label": {
                        "none": [
                          "image 1"
                        ]
                      },
                      "partOf": [
                        {
                          "id": "https://ark.digitalcommonwealth.org/ark:/50959/4f16g0150/manifest",
                          "type": "Manifest",
                          "label": {
                            "none": [
                              "Africa or Libia Ulterior"
                            ]
                          }
                        }
                      ]
                    }
                  ]
                },
                "selector": {
                  "type": "SvgSelector",
                  "value": "<svg width=\"5161\" height=\"4220\"><polygon points=\"135,380 5000,395 5011,3561 139,3535\" /></svg>"
                }
              },
              "body": {
                "type": "FeatureCollection",
                "transformation": {
                  "type": "polynomial",
                  "options": {
                    "order": 1
                  }
                },
                "features": [
                  {
                    "type": "Feature",
                    "properties": {
                      "resourceCoords": [
                        4135,
                        783
                      ]
                    },
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
                        19.6929355,
                        30.4754143
                      ]
                    }
                  },
                  {
                    "type": "Feature",
                    "properties": {
                      "resourceCoords": [
                        789,
                        2687
                      ]
                    },
                    "geometry": {
                      "type": "Point",
                      "coordinates": [
     [...]
