---
http_interactions:
- request:
    method: get
    uri: http://vocab.getty.edu/tgn/7004939.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 303
      message: See Other
    headers:
      Location:
      - http://vocab.getty.edu/download/jsonld?uri=http://vocab.getty.edu/tgn/7004939.jsonld
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Nov 2019 20:22:57 GMT
- request:
    method: get
    uri: http://vocab.getty.edu/download/jsonld?uri=http://vocab.getty.edu/tgn/7004939.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="tgn_7004939.jsonld"
      Content-Type:
      - application/ld+json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        [ {
          "@id" : "http://vocab.getty.edu/tgn/7004939",
          "@type" : [ "http://vocab.getty.edu/ontology#Subject", "http://www.w3.org/2004/02/skos/core#Concept", "http://vocab.getty.edu/ontology#AdminPlaceConcept" ],
          "http://creativecommons.org/ns#license" : [ {
            "@id" : "http://opendatacommons.org/licenses/by/1.0/"
          } ],
          "http://purl.org/dc/element[...]
- request:
    method: get
    uri: http://127.0.0.1:3001/bpldc/geomash/tgn/7004939
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found","exception":"#\u003cActionController::RoutingError:
        No route matches [GET] \"/bpldc/geomash/tgn/7004939\"\u003e","traces":{"Application
        Trace":[],"Framework Trace":[{"id":0,"trace":"actionpack (5.2.4.2) lib/action_dispatch/middleware/debug_exceptions.rb:65:in
        `call''"},{"id":1,"trace":"actionpack (5.2.4.2) lib/action_dispatch/middleware/show_exceptions.rb:33:in
        `call''"},{"id":2,"trace":"railties (5.2.4.2) lib/rails/rack/logger.rb:38:in
        `call_app''"},{"id":3,"trace":"railties (5.2.4.2) lib/rails/rack/logger.rb:26:in
        `block in call''"},{"id":4,"trace":"activesupport (5.2.4.2) lib/active_support/tagged_logging.rb:71:in
        `block in tagged[...]
- request:
    method: get
    uri: http://127.0.0.1:3001/geomash/tgn/7004939
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b308d81c72e032b5eb89bea61b385f8b"
    body:
      encoding: UTF-8
      string: '{"coords":{"latitude":"45.016667","longitude":"9.666667","combined":"45.016667,9.666667"},"hier_geo":{"city":"Piacenza","province":"Piacenza","continent":"Europe","region":"Romagna","country":"Italy"}}'
  recorded_at: Wed, 02 Sep 2020 20:19:00 GMT
- request:
    method: get
    uri: http://127.0.0.1:3001/qa/tgn/7004939?uri=http://vocab.getty.edu/tgn/7004939
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found","exception":"#\u003cActionController::RoutingError:
        No[...]
